.header{
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 100px;
}

.nav-items >ul{
    display: flex;
    font-size: 24px;
    list-style-type: none;
}

.nav-items >ul > li{
    padding: 10px;
    margin: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    margin: 5px;
    padding: 5px;
    width: 200px;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.search {
     padding: 10px;
}

.res-logo{
    width: 100%;
}

.filter-btn{
    margin :10px;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}

.login{
    padding: 0px 20px;
    cursor: pointer;
}

.search-btn{
    cursor: pointer;
}

.filter{
    display: flex;
}